<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-bar-responsive" (click)="myfunction()">
            <mat-icon>reorder</mat-icon>
        </div>
        <div
            class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
            <app-side-menu></app-side-menu>
        </div>
        <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
        <div class="inventual-header-area">
            <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
                <div class="grid grid-cols-12 items-center h-full">
                    <div class="col-span-12">
                        <app-cabecera></app-cabecera>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
            <div class="inventual-breadcrumb-area-inner px-0.5">
                <h5 class="text-[20px] text-heading font-bold mb-3">Editar Activo</h5>
                <div class="inventual-breadcrumb-area-inner-wrap">
                    <span class="text-[14px] text-body font-normal inline-block me-2">Gestion Activos</span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">></span>
                    <span class="text-[14px] text-body font-normal inline-block me-2">Editar Activo</span>
                </div>
            </div>
        </div>
        <div class="inventual-content-area px-7">
            <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
              <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
                <div class="col-span-12 md:col-span-6 sm:col-span-12">
                  <div class="inventual-select-field mb-5">
                    <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre Activo</h5>
                    <div class="inventual-input-field-style">
                      <mat-form-field class="w-full" [floatLabel]="'always'">
                        <mat-label class="hidden">Joseph Tylor</mat-label>
                        <input matInput [placeholder]="'Juan Perez'">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="inventual-content-area px-7">
            <form [formGroup]="paymentForm">
                <div class="grid grid-cols-12 gap-x-5">
                    <div class="col-span-5 lg:col-span-12 md:col-span-12 sm:col-span-12 lg:order-1 sm:order-1">
                        <div class="inventual-possale-tab-area bg-white p-7 pb-2 rounded-8 mb-5">
                            <div class="inventual-possale-tab-content">
                                <div class="grid grid-cols-12 gap-2.5">
                                    <div class="col-span-3 xxl:col-span-4 xl:col-span-4 sm:col-span-6 mb-3">
                                        <h5 class="text-[20px] text-heading font-bold mb-3">Información Actual</h5>
                                        <div>                                       
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Id:</span>
                                        </div>
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Nombre Activo:</span>
                                        </div>
                                        <div>                                            
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Grupo Perteneciente:</span>
                                        </div>
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Custodio:</span>
                                        </div>
                                        <div>                                            
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Direccion:</span>
                                        </div>
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Estado:</span>
                                        </div>
                                        <div>                                            
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Uso del Activo:</span>
                                        </div>
                                        <div>                                            
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Marca:</span>
                                        </div>
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Modelo:</span>
                                        </div>                                        
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Valor:</span>
                                        </div>                                       
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Codigo QR:</span>
                                        </div>                                        
                                        <div>
                                            <span class="text-[14px] text-body font-normal inline-block me-2">Codigo Barras:</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inventual-possale-tab-menu flex flex-wrap justify-between gap-5 mb-1">
                                <button type="button" class="inventual-btn primary-btn flex-grow">Descargar QR</button>
                                <button type="button" class="inventual-btn primary-btn flex-grow">Descargar Codigo Barras</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-7 lg:col-span-12 md:col-span-12 sm:col-span-12 lg:order-2 sm:order-2">
                        <div class="inventual-possale-area bg-white p-7 pb-2 rounded-8 mb-5">
                            <div class="grid grid-cols-12 gap-x-5 sm:gap-x-0">
                                <div class="col-span-12 sm:col-span-12">
                                    <div class="inventual-select-field mb-7 relative">
                                        <div class="inventual-select-field-style me-12">
                                            <h5 class="text-[20px] text-heading font-bold mb-3">Información Actual</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-6 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="biller" [placeholder]="'Custodio'" required>
                                                    <mat-option value="language-1">Shane Watson</mat-option>
                                                    <mat-option value="language-2">David Warner</mat-option>
                                                    <mat-option value="language-3">David Miller</mat-option>
                                                    <mat-option value="language-4">Hashim Amla</mat-option>
                                                    <mat-option value="language-5">Imran Tahir</mat-option>
                                                    <mat-option value="language-6">JP Duminy</mat-option>
                                                    <mat-option value="language-7">Kagiso Rabada</mat-option>
                                                    <mat-option value="language-8">Stuart Broad</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-6 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="biller" [placeholder]="'Estado de Uso'" required>
                                                    <mat-option value="language-1">Shane Watson</mat-option>
                                                    <mat-option value="language-2">David Warner</mat-option>
                                                    <mat-option value="language-3">David Miller</mat-option>
                                                    <mat-option value="language-4">Hashim Amla</mat-option>
                                                    <mat-option value="language-5">Imran Tahir</mat-option>
                                                    <mat-option value="language-6">JP Duminy</mat-option>
                                                    <mat-option value="language-7">Kagiso Rabada</mat-option>
                                                    <mat-option value="language-8">Stuart Broad</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Proyecto'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-12 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-input-field-style">
                                            Ubicacion
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Pais'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Departamento/Estado'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Municipio/Ciudad'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Sucursal'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Bloque/Edificio'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 sm:col-span-12">
                                    <div class="inventual-select-field mb-7">
                                        <div class="inventual-select-field-style">
                                            <mat-form-field>
                                                <mat-select class="block" formControlName="warehouse" [placeholder]="'Aula/Oficina'" required>
                                                    <mat-option value="language-1">United States</mat-option>
                                                    <mat-option value="language-2">Canada</mat-option>
                                                    <mat-option value="language-3">Mexico</mat-option>
                                                    <mat-option value="language-4">France</mat-option>
                                                    <mat-option value="language-5">Germany</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <div class="grid grid-cols-2 gap-x-5 sm:gap-x-0">
                                <div class="col-span-12">
                                    <div class="inventual-possale-total-area border-t border-border border-solid pt-6 pb-1">
                                        <div
                                            class="grid grid-cols-12 gap-x-8 xxl:gap-x-5 xl:gap-x-4 sm:gap-x-4 sm:mt-12">
                                            <div class="col-span-3 sm:col-span-12">
                                                <div class="pos">
                                                    <button type="reset" class="inventual-btn gray-btn w-full">Borrar campos</button>
                                                </div>
                                            </div>
                                            <div class="col-span-6 sm:col-span-12">
                                                <div class="pos sm:mt-4">
                                                    <button type="submit" [disabled]="!isPaymentButtonEnabled"
                                                        class="inventual-btn primary-btn w-full">Actualizar Activo</button>
                                                </div>
                                            </div>
                                            <div class="col-span-12">
                                                <span class="text-[15px] font-semibold text-danger leading-none mt-4 block" data-v-7dc26afa="">* Llena al menos un campo para actualizar el activo.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inventual-possale-total-area border-t border-border border-solid pt-6 pb-1">
                                        <div
                                            class="grid grid-cols-12 gap-x-8 xxl:gap-x-5 xl:gap-x-4 sm:gap-x-4 sm:mt-12">
                                            <div class="col-span-6 sm:col-span-12">
                                                <div class="pos">                                                    
                                                    <h5 class="text-[20px] text-heading font-bold mb-3">Historial del Activo</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inventual-common-table mb-14 mt-8">
                                        <div>
                                            <table mat-table [dataSource]="dataSource" matSort>

                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="code">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Custodio
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.code}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="price">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
                                                    <td mat-cell *matCellDef="let row"> ${{row.price}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="tax">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.tax}}% </td>
                                                </ng-container>

                                                <ng-container matColumnDef="discount">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Editor
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> {{row.discount}}% </td>
                                                </ng-container>

                                                <ng-container matColumnDef="quantity">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uso del Activo
                                                    </th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <div class="inventual-addsale-product-qty">
                                                            <span class="text-body flex items-center">
                                                                <button type="button"
                                                                    (click)="decreaseQuantity(row)"><mat-icon>remove</mat-icon></button>
                                                                <p>{{ row.quantity }}</p>
                                                                <button type="button" class="active"
                                                                    (click)="increaseQuantity(row)"><mat-icon>add</mat-icon></button>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="subTotal">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Grupo
                                                    </th>
                                                    <td mat-cell *matCellDef="let row"> ${{row.subTotal |
                                                        number:'1.0-0'}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="action">
                                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                                    <td mat-cell *matCellDef="let row">
                                                        <div class="sm-delete-btn">
                                                            <button class="product-delete-btn" type="button"
                                                                (click)="removeProduct(row)"><mat-icon>clear</mat-icon></button>
                                                        </div>
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                                <!-- Row shown when there is no matching data. -->
                                                <tr class="mat-row" *matNoDataRow>
                                                    <td class="mat-cell" colspan="8">
                                                        <div class="table-data-not-found">
                                                            <p>No data found!</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </form>
        </div>
        <div class="inventual-copyright-area">
            <!--<app-copyright></app-copyright>-->            
        </div>
    </div>
</div>