<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div
        class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
        <app-side-menu></app-side-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-cabecera></app-cabecera>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
        <div class="inventual-breadcrumb-area-inner px-0.5">
          <h5 class="text-[20px] text-heading font-bold mb-3">Registro Activo</h5>
          <div class="inventual-breadcrumb-area-inner-wrap">
            <span class="text-[14px] text-body font-normal inline-block me-2">Gestion de Activos</span>
            <span class="text-[14px] text-body font-normal inline-block me-2">></span>
            <span class="text-[14px] text-body font-normal inline-block me-2">Registro Activo</span>
          </div>
        </div>
      </div>
      <div class="inventual-content-area px-7">
        <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
          <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Pais'" class="form-control" id="idPais" [(ngModel)]="departamento.idPais" name="idPais">
                      <mat-option *ngFor="let pais of paises$ | async" [value]="pais.idPais">
                        {{ pais.nombre }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nuevo Pais</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>              
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Departamento'" class="form-control" id="idDepartamento" [(ngModel)]="provincia.idDepartamento" name="idDepartamento">
                      <mat-option *ngFor="let departamento of departamentos$ | async" [value]="departamento.idDepartamento">
                        {{ departamento.nombre }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nuevo Departamento</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Provincia'" class="form-control" id="idProvincia" [(ngModel)]="municipio.idProvincia" name="idProvincia">
                      <mat-option *ngFor="let provincia of provincias$ | async" [value]="provincia.idProvincia">
                        {{ provincia.nombre }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nueva Provincia</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Municipio'" class="form-control" id="idMunicipio" [(ngModel)]="sucursal.idMunicipio" name="idMunicipio">
                      <mat-option *ngFor="let municipio of municipios$ | async" [value]="municipio.idMunicipio">
                        {{ municipio.nombre }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nuevo Municipio</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Sucursal'" class="form-control" id="idSucursal" [(ngModel)]="bloque.idSucursal" name="idSucursal">
                      <mat-option *ngFor="let sucursal of sucursales$ | async" [value]="sucursal.idSucursal">
                        {{ sucursal.nombre }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nueva Sucursal</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div> 
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Aula'" class="form-control" id="idAula" name="idAula">
                      <mat-option *ngFor="let aula of aulas$ | async" [value]="aula.idAula">
                        {{ aula.nombre }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nueva Aula</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Area</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Rol'" class="form-control" id="idDireccion" name="idDireccion">
                      <mat-option *ngFor="let direccion of direcciones$ | async" [value]="direccion.idDireccion">
                        {{ direccion.detalle }}
                      </mat-option>
                      <mat-option value="otro">
                        <button mat-raised-button color="primary">Nueva Direccion</button>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-12">
              <div class="inventual-material-btn pt-2.5 justify-end">
                <button mat-raised-button color="primary">Registrar Ubicacion</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
        <!-- <app-copyright></app-copyright> -->
      </div>
    </div>
  </div>