<div class="inventual-dashboard-area">
  <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-bar-responsive" (click)="myfunction()">
      <mat-icon>reorder</mat-icon>
    </div>
    <div class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
      <app-menu></app-menu>
    </div>
    <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
  </div>
  <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
    <div class="inventual-header-area">
      <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
        <div class="grid grid-cols-12 items-center h-full">
          <div class="col-span-12">
            <app-header></app-header>
          </div>
        </div>
      </div>
    </div>
    <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
      <div class="inventual-breadcrumb-area-inner px-0.5">
        <h5 class="text-[20px] text-heading font-bold mb-3">Profile</h5>
        <div class="inventual-breadcrumb-area-inner-wrap">
          <span class="text-[14px] text-body font-normal inline-block me-2">User</span>
          <span class="text-[14px] text-body font-normal inline-block me-2">></span>
          <span class="text-[14px] text-body font-normal inline-block me-2">Profile</span>
        </div>
      </div>
    </div>
    <div class="inventual-content-area px-7">
      <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-1">
        <div class="inventual-profile-area">
          <div class="inventual-profile-wrapper flex items-center sm:block pb-1 mb-14">
            <div class="inventual-profile-info flex items-center me-20 sm:me-0 sm:mb-5">
              <div class="inventual-profile-info-img me-5">
                <img src="../../../../assets/img/user/user-profile.png" alt="img not found">
              </div>
              <div class="inventual-profile-info-text">
                <!-- Mostrar dinámicamente el nombre completo del usuario -->
                <h4 class="text-heading font-bold text-[24px] mb-1">{{ user?.nombre }} {{ user?.apellidoPaterno }} {{ user?.apellidoMaterno }}</h4>
                <!-- Mostrar el rol del usuario -->
                <span class="text-[16px] text-body">Rol: {{ user?.rolId }}</span>
              </div>
            </div>
            <div class="inventual-profile-info-btn">
              <button type="button" (click)="editProfileEnable()">Edit Profile</button>
            </div>
          </div>
          <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Nombre</mat-label>
                    <input matInput [placeholder]="'Nombre'" [value]="user?.nombre" [disabled]="!isProfileEnabled">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Apellido Paterno</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Apellido Paterno</mat-label>
                    <input matInput [placeholder]="'Apellido Paterno'" [value]="user?.apellidoPaterno" [disabled]="!isProfileEnabled">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Apellido Materno</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Apellido Materno</mat-label>
                    <input matInput [placeholder]="'Apellido Materno'" [value]="user?.apellidoMaterno" [disabled]="!isProfileEnabled">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Correo</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Correo</mat-label>
                    <input type="email" matInput [placeholder]="'Correo'" [value]="user?.correo" [disabled]="!isProfileEnabled">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Teléfono</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Teléfono</mat-label>
                    <input matInput [placeholder]="'Teléfono'" [value]="user?.telefono" [disabled]="!isProfileEnabled">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Rol</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select [value]="user?.rolId" [disabled]="!isProfileEnabled">
                      <mat-option value="1">Admin</mat-option>
                      <mat-option value="2">Staff</mat-option>
                      <mat-option value="3">Manager</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-12">
              <div class="inventual-material-btn pt-2.5 justify-end">
                <button mat-raised-button color="primary" [disabled]="!isProfileEnabled">Update Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-copyright-area pt-9 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
        <app-copyright></app-copyright>
      </div>
    </div>
  </div>
</div>
