<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div
        class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
        <app-side-menu></app-side-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-cabecera></app-cabecera>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
        <div class="inventual-breadcrumb-area-inner px-0.5">
          <h5 class="text-[20px] text-heading font-bold mb-3">Registro Activo</h5>
          <div class="inventual-breadcrumb-area-inner-wrap">
            <span class="text-[14px] text-body font-normal inline-block me-2">Gestion de Activos</span>
            <span class="text-[14px] text-body font-normal inline-block me-2">></span>
            <span class="text-[14px] text-body font-normal inline-block me-2">Registro Activo</span>
          </div>
        </div>
      </div>
      <div class="inventual-content-area px-7">
        <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
          <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0">
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Nombre Activo</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="'Ej. Mesas madera'" type="text" class="form-control" id="nombre" [(ngModel)]="activo.nombre" name="nombre">
                  </mat-form-field>
                </div>
              </div>
            </div> 
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Detalle Activo</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="'Ej. Estas mesas son para alumnos'" type="text" class="form-control" id="detalle" [(ngModel)]="activo.detalle" name="detalle">
                  </mat-form-field>
                </div>
              </div>
            </div> 
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Proyecto del Activo</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Proyecto'" class="form-control" id="idProyecto" [(ngModel)]="activo.idProyecto" name="idProyecto">
                      <mat-option *ngFor="let proyecto of proyectos$ | async" [value]="proyecto.idProyecto">
                        {{ proyecto.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Fecha Adquisicion</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Elige tu fecha</mat-label>
                    <input matInput [matDatepicker]="picker" [placeholder]="'MM/DD/YYYY'" class="form-control" id="fechaRegistro" [(ngModel)]="activo.fechaRegistro" name="fechaRegistro">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field> 
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Comprobante de Adquisicion</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden">Joseph Tylor</mat-label>
                    <input matInput [placeholder]="'Ej. Cmb-213213'" class="form-control" id="comprobanteCompra" [(ngModel)]="activo.comprobanteCompra" name="comprobanteCompra">
                  </mat-form-field>
                </div>
              </div>
            </div>        
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-5">
                  <h5 class="text-[15px] text-heading font-semibold mb-3">Valor Adquisicion</h5>
                  <div class="inventual-input-field-style">
                    <mat-form-field class="w-full" [floatLabel]="'always'">
                      <mat-label class="hidden">Joseph Tylor</mat-label>
                      <input matInput [placeholder]="'Ej. 1000'" class="form-control" id="precio" [(ngModel)]="activo.precio" name="precio">
                    </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Modelo</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Marca y Modelo'" class="form-control" id="idModelo" [(ngModel)]="activo.idModelo" name="idModelo">
                      <mat-option *ngFor="let modelo of modelos$ | async" [value]="modelo.idModelo">
                        {{ modelo.marcaId + " " + modelo.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>   
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Custodio</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Proyecto'" class="form-control" id="idCustodio" [(ngModel)]="activo.idCustodio" name="idCustodio">
                      <mat-option *ngFor="let custodio of custodios$ | async" [value]="custodio.idCustodio">
                        {{ custodio.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Estado Uso</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Proyecto'" class="form-control" id="idEstadoactivo" [(ngModel)]="activo.idEstadoactivo" name="idEstadoactivo">
                      <mat-option *ngFor="let estado of estados$ | async" [value]="estado.idEstado">
                        {{ estado.nombre + " " + estado.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Depreciacion</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Depreciacion'" class="form-control" id="idDepreciacion" [(ngModel)]="activo.idDepreciacion" name="idDepreciacion">
                      <mat-option *ngFor="let depreciacion of depreciaciones$ | async" [value]="depreciacion.idDepreciacion">
                        {{ depreciacion.metodo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-12 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Categoria</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Proyecto'" class="form-control" id="idCategoria" [(ngModel)]="activo.idCategoria" name="idCategoria">
                      <mat-option *ngFor="let categoria of categorias$ | async" [value]="categoria.idCategoria">
                        {{ categoria.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Pais</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Pais'" class="form-control" id="idPais" [(ngModel)]="departamento.idPais" name="idPais">
                      <mat-option *ngFor="let pais of paises$ | async" [value]="pais.idPais">
                        {{ pais.nombre }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>              
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Departamento</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Departamento'" class="form-control" id="idDepartamento" [(ngModel)]="provincia.idDepartamento" name="idDepartamento">
                      <ng-container *ngIf="departamento.idPais !== 0">
                        <ng-container *ngFor="let departamentoS of departamentos$ | async">
                          <ng-container *ngIf="departamentoS.idPais === departamento.idPais">
                            <mat-option [value]="departamentoS.idDepartamento">
                              {{ departamentoS.nombre }}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Provincia</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Provincia'" class="form-control" id="idProvincia" [(ngModel)]="municipio.provinciaId" name="idProvincia">
                      <ng-container *ngIf="provincia.idDepartamento !== 0">
                        <ng-container *ngFor="let provinciaS of provincias$ | async">
                          <ng-container *ngIf="provinciaS.idDepartamento === provincia.idDepartamento">
                            <mat-option [value]="provinciaS.idProvincia">
                              {{ provinciaS.nombre }}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Municipio</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Municipio'" class="form-control" id="idMunicipio" [(ngModel)]="sucursal.municipioId" name="idMunicipio">
                      <ng-container *ngIf="municipio.provinciaId !== 0">
                        <ng-container *ngFor="let municipioS of municipios$ | async">
                          <ng-container *ngIf="municipioS.provinciaId === municipio.provinciaId">
                            <mat-option [value]="municipioS.idMunicipio">
                              {{ municipioS.nombre }}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Sucursal</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Sucursal'" class="form-control" id="idSucursal" [(ngModel)]="bloque.idSucursal" name="idSucursal">
                      <ng-container *ngIf="sucursal.municipioId !== 0">
                        <ng-container *ngFor="let sucursalS of sucursales$ | async">
                          <ng-container *ngIf="sucursalS.municipioId === sucursal.municipioId">
                            <mat-option [value]="sucursalS.idSucursal">
                              {{ sucursalS.nombre }}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div> 
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Direccion</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Rol'" class="form-control" id="idDireccion" [(ngModel)]="bloque.idDireccion" name="idDireccion">
                      <ng-container *ngIf="bloque.idSucursal !== 0">
                        <mat-option *ngFor="let direccion of direcciones$ | async" [value]="direccion.idDireccion">
                          {{ direccion.zona+', '+direccion.calle+', '+direccion.detalle }}
                        </mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Bloque</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Bloque'" class="form-control" id="idBloque" [(ngModel)]="aula.idBloque" [(ngModel)]="activo.idBloque" name="idBloque">
                      <ng-container *ngIf="(bloque.idSucursal !== 0) && (bloque.idDireccion !== 0)">
                        <ng-container *ngFor="let bloqueS of bloques$ | async">
                          <ng-container *ngIf="bloqueS.idSucursal === bloque.idSucursal">
                            <mat-option [value]="bloqueS.idBloque">
                              {{ bloqueS.nombre }}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Aula</h5>
                <div class="inventual-select-field-style">
                  <mat-form-field>
                    <mat-select class="block" [placeholder]="'Selecionar Aula'" class="form-control" [(ngModel)]="activo.idAula" id="idAula" name="idAula">
                      <ng-container *ngIf="(aula.idBloque !== 0)">
                        <ng-container *ngFor="let aulaS of aulas$ | async">
                          <ng-container *ngIf="aulaS.idBloque === aula.idBloque">
                            <mat-option [value]="aulaS.idAula">
                              {{ aulaS.nombre }}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-span-12">
              <div class="inventual-material-btn pt-2.5 justify-end">
                <button mat-raised-button color="primary" (click)="agregarActivo()">Registrar Activo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
        <!-- <app-copyright></app-copyright> -->
      </div>
    </div>
  </div>